* {
    margin:0;
    padding:0;
    box-sizing:border-box;    
    font-size:0.9375;
}

body {
    display:flex;
    min-height:100vh;
    padding:1rem;
    background-color:hsl(0, 0%, 95%);
}

.mainContainer {
    display:flex;
    max-width:58rem;
    border-radius:0.75rem;
    overflow:hidden;
    color:#fff;
}

.mainContainer__title {
    font-size: 2.5rem;
    font-family: Big Shoulders Display, sans-serif;
    text-transform: uppercase;
}

.mainContainer div {
    padding:50px 40px;
}

.mainContainer__desc {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.mainContainer__sedan { 
    background:hsl(31, 77%, 52%);
}

.mainContainer__suv {
    background: hsl(184, 100%, 22%);
}

.mainContainer__luxury {
    background:hsl(179, 100%, 13%);
}

.mainContainer__link {
    display:inline-block;
    font-family: 'Lexend Deca', sans-serif;
    border:none;
    border-radius: 2.5em;
    background-color: hsl(0, 0%, 95%);
    padding:1em 2em;
    margin-bottom:0;
    margin-top:auto;
    text-decoration: none;
    cursor:pointer;
}

.mainContainer__link:focus {
    border: 0.3rem solid wheat;
}

.mainContainer__link:focus-visible {
    outline: 0.3rem solid rgb(108, 252, 245);
}

.mainContainer__link:hover {
    background-color:inherit;
    color:hsla(0, 0%, 100%, 0.75) !important;
    border:2px solid hsla(0, 0%, 100%, 0.75);;
}

.mainContainer__link-sedan {
    color:hsl(31, 77%, 52%);
}

.mainContainer__link-suv {
    color:hsl(184, 100%, 22%);
}

.mainContainer__link-luxury {
    color:hsl(179, 100%, 13%);
}

footer {
    display:flex;
    position:absolute;
    bottom:0;
    left:0;
    padding:2.5rem;
}

/* span {
    font-family: 'Big Shoulders Display', cursive;
    font-size:36px;    
    color:hsla(0, 0%, 100%, 0.9);    
    background-color:inherit;
} */

@media(max-width:540px) {

    .mainContainer {
        flex-direction:column;
        }
    
    
    footer {
        display:none;

    }
}